@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 2048px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.alerts{
  font-size: 0.9rem;
  color: rgb(250, 215, 215);
}

/* Order */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
  .p-tabview .p-tabview-panels,
[data-pc-section="panelcontainer"]{
  padding: 0.5rem 0rem 0rem 0rem !important;
}
[data-pc-name="accordiontab"]{
  width: 40vw;
}
.p-accordion-content{
  padding: 0rem 0rem 0rem 0rem !important;
}
li[class='p-tabview-header p-highlight'],
li[class='p-tabview-header']{
  display: flex;
  flex-direction: column;
  width: 20vw; 
}
.p-tabview-nav-link,
[class='p-tabview-nav-link p-tabview-header-action'] {
  border-width: 0 0 0 0 !important;
}
a[class='p-tabview-nav-link p-tabview-header-action'],
span.p-tabview-title{
  width: 20vw;
  height: auto;
  text-wrap: wrap;
  white-space: normal !important;
  overflow-wrap: break-word;
}
}

.card{
  padding: 0.5rem;
  background-color: #1a0035;
  margin: 0.5rem 0;
  width: 40vw;
  height: auto;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px rgba(48, 48, 48, 0.5);
  color: white;
}
.trainHead,
.busHead{
  font-weight: bolder;
  font-size: 1rem;
}
ol.times{
  padding-inline-start: 0.7rem;
}